<div class="side-nav" style="width: 4.5rem;">
  <img id="logo" src="icons/PMS.svg" alt="" >
  <div id="grouped-icons">
    <a href=""><img src="icons/control-room.svg" alt="control"></a>
    <a href=""><img src="icons/dashboard.svg" alt="dashboard"></a>
    <a href=""><img src="icons/elements.svg" alt="elements"></a>
    <a href=""><img src="icons/settings.svg" alt="settings"></a>
    <a href=""><img src="icons/notifications.svg" alt="notifications"></a>
  </div>
  <img id="logout" src="icons/logout.svg" alt="" >
</div>
