

  <!-- <div class="data-row">
    <div class="row-header">
      <li>
        <img src="icons/gas-station-active.svg" alt="gas station icon">
        <span class="station-title">station name dummy</span>
      </li>
      <fa-icon [icon]="ellipsis" class="pe-2 pt-2"></fa-icon>
    </div>
    <hr>
    <div class="row ps-4 mt-2 mx-0">
      <div class="col-4 row-item row">
        <div class="col-6">
          <span class="title">total sales</span>
        </div>
        <div class="col-6">
          <span class="value">62,721</span>
        </div>
      </div>
      <div class="col-4  row-item row">
        <div class="col-6">
          <span class="title">compression state</span>
        </div>
        <div class="col-6">
          <span class="value">compression</span>
        </div>

      </div>
      <div class="col-4 row-item row">
        <div class="col-6">
          <span class="title">max transaction / hour</span>
        </div>
        <div class="col-6">
          <span class="value">20</span>
        </div>
      </div>

      <div class="col-4  row-item row">
        <div class="col-6">
          <span class="title">total value</span>
        </div>
        <div class="col-6">
          <span class="value">550</span>
        </div>
      </div>
      <div class="col-4  row-item row">
        <div class="col-6">
          <span class="title">total transaction count</span>
        </div>
        <div class="col-6">
          <span class="value">5161</span>
        </div>
      </div>
      <div class="col-4  row-item row">
        <div class="col-6">
          <span class="title">max transaction date-time</span>
        </div>
        <div class="col-6">
          <span class="value">8-1-2021 | 10:16 PM</span>
        </div>
      </div>
    </div>
  </div> -->
  <app-data-row-card></app-data-row-card>
  <app-data-row-card></app-data-row-card>
  <app-data-row-card></app-data-row-card>
  <app-data-row-card></app-data-row-card>
  <app-data-row-card></app-data-row-card>
