<div class="main-container">
  <app-header></app-header>
  <app-side-nav-bar></app-side-nav-bar>
  <div class="content">
    <div class="data">
      <div class="cards">
        <div class="card" style="background-color: #F4DBD4; ">
          <p class="digit">71,028<span class="currency">EGP</span> </p>
          <p class="title">Total Value</p>
          <p class="change-down"><fa-icon [icon]="downIcon"></fa-icon> 2%</p>
        </div>
        <div class="card">
          <p class="digit">20,000<span class="measure-unit">m<sup>3</sup></span></p>
          <p class="title">Total Sales</p>
          <p class="change-up"><fa-icon [icon]="upIcon"></fa-icon> 50 <span
              class="mini-measure-unit">m<sup>3</sup></span></p>
        </div>

        <div class="card">
          <p class="digit">20,000<span class="measure-unit">m<sup>3</sup></span></p>
          <p class="title">Avg Sales</p>
          <p class="change-down"><fa-icon [icon]="downIcon"></fa-icon> 50 <span
              class="mini-measure-unit">m<sup>3</sup></span></p>
        </div>

        <div class="card">
          <p class="digit">1567 </p>
          <p class="title">Total Transition Count</p>
          <p class="change-up"><fa-icon [icon]="upIcon"></fa-icon> 20</p>
        </div>
      </div>
      <section id="radio-section">
        <div id="grouped-radio-pill">
          <span>
            <input type="radio" name="data-view" value="graph" id="graph" [checked]="view === 'graph'"
              (change)="onViewChange('graph')">
            <label class="pill" for="graph">
              <fa-icon [icon]="chartBar" class="pe-1"></fa-icon> Graph
            </label>
          </span>

          <span>
            <input type="radio" name="data-view" value="list" id="list" [checked]="view === 'list'"
              (change)="onViewChange('list')">
            <label class="pill" for="list">
              <fa-icon [icon]="listIcon" style="transform: rotate(90deg);" class="pt-3"></fa-icon> List
            </label>
          </span>
        </div>
      </section>


      <section *ngIf="view === 'list'" class="data-row-section">
        <app-data-rows-section></app-data-rows-section>
      </section>

      <section *ngIf="view === 'graph'" class="graph-section" >
        <img class="graph-data" src="data-graph.png" alt="">
      </section>


    </div>
    <div class="analysis">
      <div class=" shared-header">Header Text</div>
      <div class="graph"><img src="hourlysalesgraph.png" alt=""></div>
      <div class="progress-bars">
        <h1 class="sales-by-station shared-header">Sales by Station</h1>
        <div class="progress-rows">

          <div class="progress-row">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="d-flex align-items-end">
                <img src="icons/gas-station-svgrepo-com.svg" alt="gas station icon">
                <span class="station-title ms-2">Station Name</span>
              </div>
              <span class="mini-measure-unit">m<sup>3</sup></span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 40%"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>


          <div class="progress-row">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="d-flex align-items-end">
                <img src="icons/gas-station-svgrepo-com.svg" alt="gas station icon">
                <span class="station-title ms-2">Station Name</span>
              </div>
              <span class="mini-measure-unit">m<sup>3</sup></span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 40%"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress-row">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="d-flex align-items-end">
                <img src="icons/gas-station-svgrepo-com.svg" alt="gas station icon">
                <span class="station-title ms-2">Station Name</span>
              </div>
              <span class="mini-measure-unit">NM</span>
            </div>
            <div class="progress" style="background-color: #B9CDE2;">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 0%"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
